.btn{
  padding: 30px;
  color: #dd1313;
  background-color: #333333; 
  text-align: center;
  border-radius: 5px;
}

.pantalla{
  padding: 30px;
  color: #ffffff;
  background-color: green;
  text-align: right;
  border-radius: 5px;
}

.oper{
  background-color: red;
  padding: 30px;
  color: #333333;
  border-radius: 5px;
}